# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# Project specific
data/
*.pth
*.pt
*.ckpt
*.pkl
*.h5
*.hdf5
*.npy
*.npz

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log